.container-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 33, 33);
  z-index: 0;
}
.out-layer {
  height: 70%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.in-layer {
  height: 100%;
  width: 100%;
  display: flex;
  border: 1px ridge rgb(199, 195, 195);
  border-radius: 1%;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: white;
  z-index: 1;
}

.carousel-wrapper {
  width: 40%;
  height: 100%;
}

.carousel {
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-wrapper {
  border-left: 1px ridge rgba(0, 0, 0, 0.335);

  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading {
  width: 48%;
  height: 15%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.title {
  height: 50%;
  width: 100%;
  padding: 0;

  margin: 0;
}
.sub-title {
  height: 30%;
  width: 100%;
  margin-left: 20px;
}
.login {
  width: 100%;
}
.singup {
  width: 100%;
  margin-top: 0;
}
.heading-text {
  font-weight: 10;
  font-size: 2em;
}
